//about page -------------------------------------
.aboutParagraphs {
  display: flex;
  flex-direction: column;
  color: grey;
  font-weight: $font-medium;
  > * {
    margin: 20px auto;
    width: calc(270px + 20vw);
    p {
      line-height: 30px;
    }
    span {
      color: $red;
    }
  }
  button {
    border-radius: 22px;
    border: 2px solid $red;
    color: $red;
    font-size: 15px;
    background: transparent;
    padding: 10px;
    &:hover{
      transition: .7s;
      background-color: $red;
      color: white;
    }
  }
}

.aboutImg {
  display: flex;
  justify-content: center;
  margin: 250px auto 100px auto;
  img {
    height: calc(300px + 20vw);
    width: calc(270px + 20vw);
  }
}
