@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

//font
$font-family: 'Lato';
$font-light: 100;
$font-medium: 300;
$font-regular: 400;
$font-bold: 700;
$font-color: black;
$work-title-font: "Merriweather", serif;

//color palette
$beige: #FCE7E4;
$red: #FF4225;
$dark: #B21F1E;
$petal: #FF8866;
$green: #80BD9E;
$grey: #C0C0C0;
