.Work4Text {
  @include pm {margin-top: 125px;}
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
  h1 {
    font-family: $work-title-font;
    font-weight: $font-light;
    font-size: 280%;
    margin: 0px 0;
  }
  h3 {
    color: $red;
    margin: 20px 0 20px 0;
  }
  > p {
    @include pm {width: calc(470px + 20vw);}
    color: black;
    font-weight: 150;
    line-height: 35px;
    margin: 20px auto;
    width: calc(270px + 20vw);
  }
}

.Work4Img1-Mobile {
  display: flex;
  justify-content: center;
  margin: 50px auto 10px auto;
  img {
    @include md {width: calc(100% - 55vw);}
    height: calc(100% - 35vw);
    width: calc(100% - 35vw);
  }
}


.Work4Imgs-Mobile {
    @include pm {margin: 100px 0;}
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px;
    img {
      @include ph {margin: 0 100px;}
      @include pm {margin: 0 20px;}
      margin: 0 40px;
      width: calc(100px + 10vw);
      height: calc(100px + 10vw);
    }
}
.Work4Img2-Desktop {
  @include pm {
    display: flex;
    justify-content: center;
    margin: 0;
    img {
      @include pm {width: calc(100% - 10vw);}
      height: calc(100% - 2vw);
      width: calc(100% - 2vw);
    }
  }
  display: none;
}

.Work4boldP {
  @include md {
    font-size: 35px;
    line-height: 50px;
    margin: 100px calc(50px + 15vw) 0 calc(50px + 15vw) ;
  }
  span {
    font-family: $work-title-font;
    font-weight: $font-bold;
  }
  font-family: $work-title-font;
  font-size: 20px;
  font-weight: 100;
  margin: 50px 50px;
  line-height: 30px;
  text-align: center;
}



.Work4links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
  a {
    font-family: $work-title-font;
    font-size: 120%;
    margin: 10px 20px;
    &:hover {
      color:$red;
      transition: .7s;
    }
  }
}
