.Work2Text {
  @include pm {margin-top: 125px;}
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
  h1 {
    font-family: $work-title-font;
    font-weight: $font-light;
    font-size: 280%;
    margin: 0px 0;
  }
  h3 {
    color: $red;
    margin: 20px 0 20px 0;
  }
  > p {
    color: black;
    font-weight: 150;
    line-height: 30px;
    margin: 20px auto;
    width: calc(270px + 20vw);
    span {
      color: grey;
    }
  }
  a {
    color: $red;
    &:hover {
      color: $dark;
    }
  }
}

.Work2ImgsLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0;
  img {
    @include sl {
      height: calc(150px + 13vw);
      width: calc(150px + 13vw)
    }
    height: calc(100px + 13vw);
    width: calc(100px + 13vw);
  }
  img:not(:last-child) {
    margin-right: 20px;
  }
}

.Work2boldP {
  @include md {
    font-size: 35px;
    line-height: 50px;
    margin: 200px calc(50px + 15vw);
  }
  span {
    font-family: $work-title-font;
    font-weight: $font-bold;
  }
  font-family: $work-title-font;
  font-size: 20px;
  font-weight: 100;
  margin: 100px 50px;
  line-height: 30px;
  text-align: center;
}

.Work2links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
  a {
    font-family: $work-title-font;
    font-size: 120%;
    margin: 10px 20px;
    &:hover {
      color:$red;
      transition: .7s;
    }
  }
}

.Work2ImgSocial {
  margin: 0 calc(25px + 5vw);
   img {
     height: 100%;
     width: 100%;
   }
}
