.Work6Text {
  @include pm {margin-top: 125px;}
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
  h1 {
    font-family: $work-title-font;
    font-weight: $font-light;
    font-size: 280%;
    margin: 0;
  }
  h3 {
    color: $red;
    margin: 20px 0;
  }
  > p {
    color: black;
    font-weight: 150;
    line-height: 30px;
    margin: 20px auto;
    width: calc(270px + 20vw);
  }
  a {
    color: red;
    &:hover {
      color: $dark;
    }
  }
}

.Work6ImgReviews-Mobile {
  @include sl {display:none;}
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 100px 0;
  img {
    margin: 15px 15px;
    height: 380px;
    width: 280px;
  }
}

.Work6ImgReviews-Desktop {
  @include sl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0;
    img {
      height: calc(330px + 13vw);
      margin-bottom: 30px;
      width: calc(580px + 13vw);
    }
  }
  display: none;
}

.Work6Imgs {
  @include sl{margin: 100px calc(50px + 10vw)}
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  img {
    height: calc(150px);
    margin: 15px 15px;
    width: calc(150px);
  }
}

.Work6Img1 {
  @include md {margin: 100px calc(10px + 20vw);}
  margin: 0 calc(10px + 6vw);
  img {
    height: 100%;
    width: 100%;
  }
  img:not(:last-child) {
    margin-bottom: 30px;
  }
}

.Work6boldP {
  @include md {
    font-size: 35px;
    line-height: 50px;
    margin: 125px calc(50px + 20vw);
  }
  span {
    font-family: $work-title-font;
    font-weight: $font-bold;
  }
  font-family: $work-title-font;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  margin: 75px 50px;
  text-align: center;
}

.Work6links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
  a {
    font-family: $work-title-font;
    font-size: 120%;
    margin: 10px 20px;
    &:hover {
      color:$red;
      transition: .7s;
    }
  }
}
