.home-intro {
  @include pm {margin: 180px 100px;}
  @include lg {margin: 240px 200px}
  @include xl {margin: 260px 300px;}
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 150px 40px;
    p {
      @include sl {
        font-size: 190%;
        line-height: 35px;
      }
      @include lg {
        font-size: 240%;
        line-height: 45px;
      }
      @include xl {
        font-size: 270%;
        line-height: 55px;
      }
      font-size: 180%;
      font-weight: $font-bold;
      line-height: 35px;
      text-align: center;
    }
}

.name-row1, .name-row2, .name-row3, .name-row4 {display: none;}

//two column rows
.image-row1, .image-row3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 5px;
  a {
    @include pm {
      text-align: center;
      width: calc(51% - 2vw);
      height: calc(51% - 2vw);
      margin: 0;
      padding: 0;
    }
  }
  img {
    height: 23em;
    margin-bottom: 17px;
    width: 23em;
    @include pm {
      width: calc(104% - 2vw);
      height: calc(104% - 2vw);
      margin: 0 0 8px 0;
    }
    &:hover {
      opacity: .5;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out;
    }
  }
}

//one column rows
.image-row2, .image-row4 {
  @include pm {background-color: black;}
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px 10px 10px;
  a {
    @include pm {
      text-align: center;
      width: calc(51% - 2vw);
      height: calc(51% - 2vw);
    }
  }
  img {
    width: 23em;
    height: 23em;
    margin-bottom: 17px;
    @include pm {
      width: calc(100% - 2vw);
      height: calc(100% - 2vw);
      margin-bottom: 0px;
    }
    &:hover {
      opacity: .5;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out;
    }
  }
}
