.home-intro {
  @include pm {margin: 180px 100px;}
  @include lg {margin: 240px 200px}
  @include xl {margin: 260px 300px;}
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 150px 40px;
    p {
      @include sl {
        font-size: 190%;
        line-height: 35px;
      }
      @include lg {
        font-size: 240%;
        line-height: 45px;
      }
      @include xl {
        font-size: 270%;
        line-height: 55px;
      }
      font-size: 180%;
      font-weight: $font-bold;
      line-height: 35px;
      text-align: center;
    }
}


//two column rows
.image-row1, .image-row3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 5px;
  a {
    height: 23em;
    margin: 0;
    width: 23em;
    background-color: black;
    @include pm {
      text-align: center;
      width: calc(50% - 2vw);
      height: calc(50% - 2vw);
    }
  }
  img {
    height: 23em;
    margin: 0;
    width: 23em;
    @include pm {
      width: 100%;
      height: 100%;
    }
    &:hover {
      opacity: .3;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out;
    }
  }
}


//one column rows ---- mobile
.image-row2-mobile, .image-row4-mobile{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px 10px 10px;
  a {
    height: 23em;
    margin: 0;
    width: 23em;
    background-color: black;
    @include pm {
      text-align: center;
      width: calc(51% - 2vw);
      height: calc(51% - 2vw);
    }
  }
  img {
    width: 23em;
    height: 23em;
    margin: 0;
    @include pm {
      display: none;
      width: 100%;
      height: 100%;
      margin-bottom: 0px;
    }
    &:hover {
      opacity: .3;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out;
    }
  }
}

//one-column rows --- desktop
.image-row2-desktop, .image-row4-desktop {
  @include pm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10px 10px 10px;
  }
  display: none;
  a {
    height: 23em;
    margin: 0;
    width: 23em;
    background-color: black;
    @include pm {
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }
  img {
    width: 23em;
    height: 23em;
    margin-bottom: 17px;
    @include pm {
      width: calc(102% - 2vw);
      height: calc(102% - 2vw);
      margin-bottom: 0px;
    }
    &:hover {
      opacity: .3;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out;
    }
  }
}
