@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
.aboutParagraphs {
  display: flex;
  flex-direction: column;
  color: grey;
  font-weight: 300; }
  .aboutParagraphs > * {
    margin: 20px auto;
    width: calc(270px + 20vw); }
    .aboutParagraphs > * p {
      line-height: 30px; }
    .aboutParagraphs > * span {
      color: #FF4225; }
  .aboutParagraphs div button {
    border-radius: 22px;
    border: 2px solid #FF4225;
    color: #FF4225;
    font-size: 15px;
    background: transparent;
    padding: 10px 35px 10px 35px; }
    .aboutParagraphs div button:hover {
      transition: .7s;
      background-color: #FF4225;
      color: white; }

.aboutImg {
  display: flex;
  justify-content: center;
  margin: 200px auto 100px auto; }
  .aboutImg img {
    height: calc(300px + 20vw);
    width: calc(270px + 20vw); }

.home-intro {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 150px 40px; }
  @media (min-width: 650px) {
    .home-intro {
      margin: 180px 100px; } }
  @media (min-width: 1100px) {
    .home-intro {
      margin: 240px 200px; } }
  @media (min-width: 1442px) {
    .home-intro {
      margin: 260px 300px; } }
  .home-intro p {
    font-size: 180%;
    font-weight: 700;
    line-height: 35px;
    text-align: center; }
    @media (min-width: 990px) {
      .home-intro p {
        font-size: 190%;
        line-height: 35px; } }
    @media (min-width: 1100px) {
      .home-intro p {
        font-size: 240%;
        line-height: 45px; } }
    @media (min-width: 1442px) {
      .home-intro p {
        font-size: 270%;
        line-height: 55px; } }

.name-row1, .name-row2, .name-row3, .name-row4 {
  display: none; }

.image-row1, .image-row3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 5px; }
  .image-row1 img, .image-row3 img {
    height: 23em;
    margin-bottom: 17px;
    width: 23em; }
    @media (min-width: 650px) {
      .image-row1 img, .image-row3 img {
        width: calc(51% - 2vw);
        height: calc(51% - 2vw);
        margin-bottom: 8px; } }
    .image-row1 img:hover, .image-row3 img:hover {
      opacity: .5;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out; }

.image-row2, .image-row4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px 10px 10px; }
  @media (min-width: 650px) {
    .image-row2, .image-row4 {
      background-color: black; } }
  .image-row2 img, .image-row4 img {
    width: 23em;
    height: 23em;
    margin-bottom: 17px; }
    @media (min-width: 650px) {
      .image-row2 img, .image-row4 img {
        width: calc(51% - 2vw);
        height: calc(51% - 2vw);
        margin-bottom: 0px; } }
    .image-row2 img:hover, .image-row4 img:hover {
      opacity: .5;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out; }

html, body {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 20px 0 0 0; }
  @media (min-width: 650px) {
    html, body {
      padding: 25px 0 0 0; } }

* {
  font-family: "Lato"; }

a {
  color: #C0C0C0;
  text-decoration: none; }
  a:hover {
    color: black; }

.homeActive {
  color: black; }

.aboutActive {
  color: black; }

.myNameDesktop {
  display: none;
  font-size: 20px;
  margin: 35px 0; }
  @media (min-width: 650px) {
    .myNameDesktop {
      display: flex; } }

.myNameMobile {
  font-size: 20px;
  margin: 23px auto;
  text-align: center; }
  @media (min-width: 650px) {
    .myNameMobile {
      display: none; } }

@media (min-width: 650px) {
  input {
    display: none; } }

input + label {
  height: 20px;
  position: fixed;
  right: 30px;
  top: 25px;
  width: 15px;
  z-index: 4; }
  @media (min-width: 650px) {
    input + label {
      display: none; } }
  input + label span {
    background: black;
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    transition: .5s;
    width: 100%; }
  input + label span:first-child {
    top: 5px; }
  input + label span:last-child {
    top: 15px; }

label:hover {
  opacity: .35; }

@media (min-width: 650px) {
  input:checked + label {
    display: none; } }
input:checked + label span {
  opacity: 0;
  top: 50%; }
input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg); }
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg); }

input ~ nav {
  background: #FAFAFA;
  box-shadow: 0 0 50px 10px #FAFAFA;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .5s;
  transition-delay: .5s;
  z-index: 3; }
  @media (min-width: 650px) {
    input ~ nav .desktopMenu {
      align-items: center;
      display: flex;
      justify-content: space-between;
      background-color: #FAFAFA; } }
  input ~ nav .desktopMenu a {
    display: none;
    margin: 0 50px; }
    @media (min-width: 650px) {
      input ~ nav .desktopMenu a {
        display: flex; } }
  input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    padding: 0; }
    @media (min-width: 650px) {
      input ~ nav > ul {
        display: none; } }
    input ~ nav > ul > li {
      list-style-type: none;
      opacity: 0;
      transition: .3s;
      transition-delay: 0s; }
      @media (min-width: 650px) {
        input ~ nav > ul > li {
          opacity: 1; } }
      input ~ nav > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        color: black;
        font-weight: 700;
        display: block;
        padding: 30px; }
        input ~ nav > ul > li > a:hover {
          transition: .7s;
          color: #FF4225; }

input:checked ~ nav {
  height: 100%;
  transition-delay: 0s; }
  input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s; }

footer {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px; }

.Work1Text {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center; }
  @media (min-width: 650px) {
    .Work1Text {
      margin-top: 125px; } }
  .Work1Text h1 {
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-size: 280%;
    margin: 0px 0; }
  .Work1Text h3 {
    color: #FF4225;
    margin: 20px 0 20px 0; }
  .Work1Text > p {
    color: grey;
    font-weight: 150;
    line-height: 30px;
    margin: 20px auto;
    width: calc(270px + 20vw); }

.Work1Img {
  display: flex;
  justify-content: center;
  margin: 100px auto 100px auto; }
  @media (min-width: 650px) {
    .Work1Img {
      margin: 150px auto 150px auto; } }
  .Work1Img img {
    height: calc(300px + 20vw);
    width: calc(270px + 20vw); }

.Work1links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px; }
  .Work1links a {
    font-family: "Merriweather", serif;
    font-size: 120%;
    margin: 10px 20px; }
    .Work1links a:hover {
      color: #FF4225;
      transition: .7s; }

.bodyFadeIn-appear {
  opacity: 0.01; }

.bodyFadeIn-appear.bodyFadeIn-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.fadeIn {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeOut {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.contactParagraph {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3/ 11;
  grid-row: 10/ 14;
  font-size: 170%;
  font-weight: 700; }

.contactIcons {
  display: flex;
  justify-content: space-around;
  grid-column: 3 / -3;
  grid-row: 19 / 25; }
  .contactIcons img {
    opacity: .5;
    height: 5em;
    width: 5em; }
    .contactIcons img:hover {
      opacity: 1; }

.webProjects {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 12;
  display: flex;
  justify-content: space-between; }
  .webProjects img {
    width: 17em;
    height: 17em; }

/*.grid-checker {
  border: solid grey;
  background: transparent;
  display: grid;
  grid-auto-rows: minmax(5%, 1fr);
  left: 0;
  height: 50vh;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  div {
    background: #000;
    margin: 0;
    opacity: 0.1;
    width: 100%;
  }

}*/
.item {
  background-color: grey; }

/*# sourceMappingURL=app.css.map */
