@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
.aboutParagraphs {
  display: flex;
  flex-direction: column;
  color: grey;
  font-weight: 300; }
  .aboutParagraphs > * {
    margin: 20px auto;
    width: calc(270px + 20vw); }
    .aboutParagraphs > * p {
      line-height: 30px; }
    .aboutParagraphs > * span {
      color: #FF4225; }
  .aboutParagraphs div button {
    border-radius: 22px;
    border: 2px solid #FF4225;
    color: #FF4225;
    font-size: 15px;
    background: transparent;
    padding: 10px 35px 10px 35px; }
    .aboutParagraphs div button:hover {
      transition: .7s;
      background-color: #FF4225;
      color: white; }

.aboutImg {
  display: flex;
  justify-content: center;
  margin: 200px auto 100px auto; }
  .aboutImg img {
    height: calc(300px + 20vw);
    width: calc(270px + 20vw); }

.home-intro {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 150px 40px; }
  @media (min-width: 650px) {
    .home-intro {
      margin: 180px 100px; } }
  @media (min-width: 1100px) {
    .home-intro {
      margin: 240px 200px; } }
  @media (min-width: 1442px) {
    .home-intro {
      margin: 260px 300px; } }
  .home-intro p {
    font-size: 180%;
    font-weight: 700;
    line-height: 35px;
    text-align: center; }
    @media (min-width: 990px) {
      .home-intro p {
        font-size: 190%;
        line-height: 35px; } }
    @media (min-width: 1100px) {
      .home-intro p {
        font-size: 240%;
        line-height: 45px; } }
    @media (min-width: 1442px) {
      .home-intro p {
        font-size: 270%;
        line-height: 55px; } }

.image-row1, .image-row3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px; }
  .image-row1 p, .image-row3 p {
    display: none; }
  .image-row1 a, .image-row3 a {
    height: 23em;
    margin: 0;
    position: relative;
    width: 23em;
    transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -webkit-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out; }
    @media (min-width: 650px) {
      .image-row1 a, .image-row3 a {
        text-align: center;
        width: calc(50% - 2vw);
        height: calc(50% - 2vw); } }
    .image-row1 a:hover, .image-row3 a:hover {
      background-color: black; }
      .image-row1 a:hover p, .image-row3 a:hover p {
        color: white;
        display: block;
        font-family: "Merriweather", serif;
        font-size: 40px;
        left: 50%;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out; }
  .image-row1 p, .image-row3 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .image-row1 img, .image-row3 img {
    display: block;
    height: 23em;
    margin: 0;
    width: 23em;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out; }
    @media (min-width: 650px) {
      .image-row1 img, .image-row3 img {
        width: 100%;
        height: 100%; } }
    .image-row1 img:hover, .image-row3 img:hover {
      opacity: .3; }

.image-row2-mobile, .image-row4-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px; }
  @media (min-width: 650px) {
    .image-row2-mobile, .image-row4-mobile {
      display: none; } }
  .image-row2-mobile p, .image-row4-mobile p {
    display: none; }
  .image-row2-mobile a, .image-row4-mobile a {
    position: relative;
    height: 23em;
    margin: 0;
    width: 23em;
    transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -webkit-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out; }
    @media (min-width: 650px) {
      .image-row2-mobile a, .image-row4-mobile a {
        text-align: center;
        width: calc(51% - 2vw);
        height: calc(51% - 2vw); } }
    .image-row2-mobile a:hover, .image-row4-mobile a:hover {
      background-color: black; }
      .image-row2-mobile a:hover p, .image-row4-mobile a:hover p {
        color: white;
        display: block;
        font-family: "Merriweather", serif;
        font-size: 40px;
        left: 50%;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out; }
  .image-row2-mobile p, .image-row4-mobile p {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  .image-row2-mobile img, .image-row4-mobile img {
    height: 23em;
    margin: 0;
    width: 23em;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out; }
    .image-row2-mobile img:hover, .image-row4-mobile img:hover {
      opacity: .3; }

.image-row2-desktop, .image-row4-desktop {
  display: none; }
  @media (min-width: 650px) {
    .image-row2-desktop, .image-row4-desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 25px 10px; } }
  .image-row2-desktop p, .image-row4-desktop p {
    display: none; }
  .image-row2-desktop a, .image-row4-desktop a {
    height: 23em;
    margin: 0;
    position: relative;
    width: 23em;
    transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -webkit-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out; }
    @media (min-width: 650px) {
      .image-row2-desktop a, .image-row4-desktop a {
        height: calc(100% - 2vw);
        text-align: center;
        width: calc(100% - 2vw); } }
    .image-row2-desktop a:hover, .image-row4-desktop a:hover {
      background-color: black; }
      .image-row2-desktop a:hover p, .image-row4-desktop a:hover p {
        color: white;
        display: block;
        font-family: "Merriweather", serif;
        font-size: 40px;
        left: 50%;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out; }
  .image-row2-desktop img, .image-row4-desktop img {
    display: block;
    width: 23em;
    height: 23em;
    margin-bottom: 17px;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out; }
    @media (min-width: 650px) {
      .image-row2-desktop img, .image-row4-desktop img {
        height: calc(102% - 2vw);
        width: calc(102% - 2vw);
        margin-bottom: 0px; } }
    .image-row2-desktop img:hover, .image-row4-desktop img:hover {
      opacity: .3; }

html, body {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 20px 0 0 0; }
  @media (min-width: 650px) {
    html, body {
      padding: 25px 0 0 0; } }

* {
  font-family: "Lato"; }

a {
  color: #C0C0C0;
  text-decoration: none; }
  a:hover {
    color: black; }

.homeActive {
  color: black; }

.aboutActive {
  color: black; }

.myNameDesktop {
  display: none;
  font-size: 20px;
  margin: 35px 0; }
  @media (min-width: 650px) {
    .myNameDesktop {
      display: flex; } }

.myNameMobile {
  font-size: 20px;
  margin: 23px auto;
  text-align: center; }
  @media (min-width: 650px) {
    .myNameMobile {
      display: none; } }

@media (min-width: 650px) {
  input {
    display: none; } }

input + label {
  height: 20px;
  position: fixed;
  right: 30px;
  top: 25px;
  width: 15px;
  z-index: 4; }
  @media (min-width: 650px) {
    input + label {
      display: none; } }
  input + label span {
    background: black;
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    transition: .5s;
    width: 100%; }
  input + label span:first-child {
    top: 5px; }
  input + label span:last-child {
    top: 15px; }

label:hover {
  opacity: .35; }

@media (min-width: 650px) {
  input:checked + label {
    display: none; } }
input:checked + label span {
  opacity: 0;
  top: 50%; }
input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg); }
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg); }

input ~ nav {
  background: #FAFAFA;
  box-shadow: 0 0 50px 10px #FAFAFA;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .5s;
  transition-delay: .5s;
  z-index: 3; }
  @media (min-width: 650px) {
    input ~ nav .desktopMenu {
      align-items: center;
      display: flex;
      justify-content: space-between;
      background-color: #FAFAFA; } }
  input ~ nav .desktopMenu a {
    display: none;
    font-family: "Merriweather", serif;
    font-weight: 100;
    margin: 0 50px; }
    @media (min-width: 650px) {
      input ~ nav .desktopMenu a {
        display: flex; } }
  input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    padding: 0; }
    @media (min-width: 650px) {
      input ~ nav > ul {
        display: none; } }
    input ~ nav > ul > li {
      list-style-type: none;
      opacity: 0;
      transition: .3s;
      transition-delay: 0s; }
      @media (min-width: 650px) {
        input ~ nav > ul > li {
          opacity: 1; } }
      input ~ nav > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        color: black;
        font-weight: 700;
        display: block;
        padding: 30px; }
        input ~ nav > ul > li > a:hover {
          transition: .7s;
          color: #FF4225; }

input:checked ~ nav {
  height: 100%;
  transition-delay: 0s; }
  input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s; }

footer {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px; }

.Work1Text {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center; }
  @media (min-width: 650px) {
    .Work1Text {
      margin-top: 125px; } }
  .Work1Text h1 {
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-size: 280%;
    margin: 0px 0; }
  .Work1Text h3 {
    color: #FF4225;
    margin: 20px 0 20px 0; }
  .Work1Text > p {
    color: black;
    font-weight: 150;
    line-height: 35px;
    margin: 20px auto;
    width: calc(270px + 20vw); }
    @media (min-width: 650px) {
      .Work1Text > p {
        width: calc(420px + 20vw); } }

.Work1Img1-Mobile {
  display: flex;
  justify-content: center;
  margin: 100px auto 10px auto; }
  @media (min-width: 650px) {
    .Work1Img1-Mobile {
      display: none; } }
  .Work1Img1-Mobile img {
    height: calc(100% - 5vw);
    width: calc(100% - 5vw); }

.Work1Img2-Mobile {
  display: flex;
  justify-content: center; }
  @media (min-width: 650px) {
    .Work1Img2-Mobile {
      display: none; } }
  .Work1Img2-Mobile img {
    height: calc(100% - 5vw);
    width: calc(100% - 5vw); }

.Work1Img1-Desktop {
  display: none; }
  @media (min-width: 650px) {
    .Work1Img1-Desktop {
      display: flex;
      justify-content: center;
      margin-top: 200px;
      margin: 100px auto 10px auto; }
      .Work1Img1-Desktop img {
        height: calc(100% - 2vw);
        width: calc(100% - 2vw); } }
    @media (min-width: 650px) and (min-width: 650px) {
      .Work1Img1-Desktop img {
        width: calc(100% - 10vw); } }

.Work1Img2-Desktop {
  display: none; }
  @media (min-width: 650px) {
    .Work1Img2-Desktop {
      display: flex;
      justify-content: center;
      margin: 0; }
      .Work1Img2-Desktop img {
        height: calc(100% - 2vw);
        width: calc(100% - 2vw); } }
    @media (min-width: 650px) and (min-width: 650px) {
      .Work1Img2-Desktop img {
        width: calc(100% - 10vw); } }

.boldP {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 100;
  margin: 100px 50px;
  line-height: 30px;
  text-align: center; }
  @media (min-width: 769px) {
    .boldP {
      font-size: 35px;
      line-height: 50px;
      margin: 200px calc(50px + 15vw); } }
  .boldP span {
    font-family: "Merriweather", serif;
    font-weight: 700; }

.Work1links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15px; }
  .Work1links a {
    font-family: "Merriweather", serif;
    font-size: 120%;
    margin: 10px 20px; }
    .Work1links a:hover {
      color: #FF4225;
      transition: .7s; }

.Work2Text {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center; }
  @media (min-width: 650px) {
    .Work2Text {
      margin-top: 125px; } }
  .Work2Text h1 {
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-size: 280%;
    margin: 0px 0; }
  .Work2Text h3 {
    color: #FF4225;
    margin: 20px 0 20px 0; }
  .Work2Text > p {
    color: grey;
    font-weight: 150;
    line-height: 30px;
    margin: 20px auto;
    width: calc(270px + 20vw); }

.Work2Img {
  display: flex;
  justify-content: center;
  margin: 100px auto 100px auto; }
  @media (min-width: 650px) {
    .Work2Img {
      margin: 150px auto 150px auto; } }
  .Work2Img img {
    height: calc(300px + 20vw);
    width: calc(270px + 20vw); }

.Work2links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px; }
  .Work2links a {
    font-family: "Merriweather", serif;
    font-size: 120%;
    margin: 10px 20px; }
    .Work2links a:hover {
      color: #FF4225;
      transition: .7s; }

.Work4Text {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center; }
  @media (min-width: 650px) {
    .Work4Text {
      margin-top: 125px; } }
  .Work4Text h1 {
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-size: 280%;
    margin: 0px 0; }
  .Work4Text h3 {
    color: #FF4225;
    margin: 20px 0 20px 0; }
  .Work4Text > p {
    color: black;
    font-weight: 150;
    line-height: 35px;
    margin: 20px auto;
    width: calc(270px + 20vw); }
    @media (min-width: 650px) {
      .Work4Text > p {
        width: calc(470px + 20vw); } }

.Work4Img1-Mobile {
  display: flex;
  justify-content: center;
  margin: 50px auto 10px auto; }
  .Work4Img1-Mobile img {
    height: calc(100% - 35vw);
    width: calc(100% - 35vw); }
    @media (min-width: 769px) {
      .Work4Img1-Mobile img {
        width: calc(100% - 55vw); } }

.Work4Imgs-Mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px; }
  @media (min-width: 650px) {
    .Work4Imgs-Mobile {
      margin: 100px 0; } }
  .Work4Imgs-Mobile img {
    margin: 0 40px;
    width: calc(100px + 10vw);
    height: calc(100px + 10vw); }
    @media (min-width: 401px) {
      .Work4Imgs-Mobile img {
        margin: 0 100px; } }
    @media (min-width: 650px) {
      .Work4Imgs-Mobile img {
        margin: 0 20px; } }

.Work4Img2-Desktop {
  display: none; }
  @media (min-width: 650px) {
    .Work4Img2-Desktop {
      display: flex;
      justify-content: center;
      margin: 0; }
      .Work4Img2-Desktop img {
        height: calc(100% - 2vw);
        width: calc(100% - 2vw); } }
    @media (min-width: 650px) and (min-width: 650px) {
      .Work4Img2-Desktop img {
        width: calc(100% - 10vw); } }

.Work4boldP {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 100;
  margin: 50px 50px;
  line-height: 30px;
  text-align: center; }
  @media (min-width: 769px) {
    .Work4boldP {
      font-size: 35px;
      line-height: 50px;
      margin: 100px calc(50px + 15vw) 0 calc(50px + 15vw); } }
  .Work4boldP span {
    font-family: "Merriweather", serif;
    font-weight: 700; }

.Work4links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15px; }
  .Work4links a {
    font-family: "Merriweather", serif;
    font-size: 120%;
    margin: 10px 20px; }
    .Work4links a:hover {
      color: #FF4225;
      transition: .7s; }

.Work6Text {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center; }
  @media (min-width: 650px) {
    .Work6Text {
      margin-top: 125px; } }
  .Work6Text h1 {
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-size: 280%;
    margin: 0px 0; }
  .Work6Text h3 {
    color: #FF4225;
    margin: 20px 0 20px 0; }
  .Work6Text > p {
    color: black;
    font-weight: 150;
    line-height: 30px;
    margin: 20px auto;
    width: calc(270px + 20vw); }
  .Work6Text a {
    color: red; }
    .Work6Text a:hover {
      color: #B21F1E; }

.Work6ImgReviews-Mobile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto; }
  @media (min-width: 990px) {
    .Work6ImgReviews-Mobile {
      display: none; } }
  .Work6ImgReviews-Mobile img {
    margin: 15px 15px;
    height: 380px;
    width: 280px; }

.Work6ImgReviews-Desktop {
  display: none; }
  @media (min-width: 990px) {
    .Work6ImgReviews-Desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 100px 0; }
      .Work6ImgReviews-Desktop img {
        margin-bottom: 30px;
        height: calc(330px + 13vw);
        width: calc(580px + 13vw); } }

.Work6Imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px; }
  @media (min-width: 990px) {
    .Work6Imgs {
      margin: 100px calc(50px + 10vw); } }
  .Work6Imgs img {
    margin: 15px 15px;
    width: calc(150px);
    height: calc(150px); }

.Work6Img1 {
  margin: 0 calc(10px + 6vw); }
  @media (min-width: 769px) {
    .Work6Img1 {
      margin: 100px calc(10px + 20vw); } }
  .Work6Img1 img {
    margin-bottom: 30px;
    width: 100%;
    height: 100%; }

.Work6boldP {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 100;
  margin: 50px 50px;
  line-height: 30px;
  text-align: center; }
  @media (min-width: 769px) {
    .Work6boldP {
      font-size: 35px;
      line-height: 50px;
      margin: 100px calc(50px + 15vw) 0 calc(50px + 15vw); } }
  .Work6boldP span {
    font-family: "Merriweather", serif;
    font-weight: 700; }

.Work6links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px; }
  .Work6links a {
    font-family: "Merriweather", serif;
    font-size: 120%;
    margin: 10px 20px; }
    .Work6links a:hover {
      color: #FF4225;
      transition: .7s; }

.bodyFadeIn-appear {
  opacity: 0.01; }

.bodyFadeIn-appear.bodyFadeIn-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.fadeIn {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeOut {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.contactParagraph {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3/ 11;
  grid-row: 10/ 14;
  font-size: 170%;
  font-weight: 700; }

.contactIcons {
  display: flex;
  justify-content: space-around;
  grid-column: 3 / -3;
  grid-row: 19 / 25; }
  .contactIcons img {
    opacity: .5;
    height: 5em;
    width: 5em; }
    .contactIcons img:hover {
      opacity: 1; }

.webProjects {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 12;
  display: flex;
  justify-content: space-between; }
  .webProjects img {
    width: 17em;
    height: 17em; }

/*.grid-checker {
  border: solid grey;
  background: transparent;
  display: grid;
  grid-auto-rows: minmax(5%, 1fr);
  left: 0;
  height: 50vh;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  div {
    background: #000;
    margin: 0;
    opacity: 0.1;
    width: 100%;
  }

}*/
.item {
  background-color: grey; }

/*# sourceMappingURL=app.css.map */
