
@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/about';
@import 'partials/work';
@import 'partials/header_body_footer';
@import 'partials/work1';


//on page load
.bodyFadeIn-appear {
  opacity: 0.01;
}

.bodyFadeIn-appear.bodyFadeIn-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

//fade in body // doesn't work right now lol
.fadeIn {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-o-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeOut {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@-moz-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@-o-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}


        //contact page -------------------------------------

        .contactParagraph {
          display: flex;
          align-items: center;
          justify-content: center;
          grid-column: 3/ 11;
          grid-row: 10/ 14;
          font-size: 170%;
          font-weight: $font-bold;
        }

        .contactIcons {
          display: flex;
          justify-content: space-around;
          grid-column: 3 / -3;
          grid-row: 19 / 25;
            img {
              opacity: .5;
              height: 5em;
              width: 5em;

              &:hover {
                opacity: 1;
              }
            }
        }


      .webProjects {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 8;
        grid-row-end: 12;
        display: flex;
        justify-content: space-between;
        img {
          width: 17em;
          height: 17em;
        }
      }


  //grid checker
/*.grid-checker {
  border: solid grey;
  background: transparent;
  display: grid;
  grid-auto-rows: minmax(5%, 1fr);
  left: 0;
  height: 50vh;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  div {
    background: #000;
    margin: 0;
    opacity: 0.1;
    width: 100%;
  }

}*/




//responsiveness -------------------------------------


.item {
  background-color: grey;
}
